// maps
$primary: (
    primary-400: hsl(243, 87%, 12%),
    primary-300: lighten(hsl(243, 87%, 12%), 50%),
    primary-200: hsl(238, 22%, 44%),
    primary-100: lighten(hsl(238, 22%, 44%), 50%)
);

$accent: (
    accent-400: hsl(224, 93%, 58%),
    accent-300: lighten(hsl(224, 93%, 58%), 50%),
    accent-200: hsl(170, 45%, 43%),
    accent-100: lighten(hsl(170, 45%, 43%),50%)
);

$neutral: (
    neutral-400: hsl(240, 75%, 98%),
    neutral-300: lighten(hsl(240, 75%, 98%), 50%),
    neutral-200: hsl(0, 0%, 75%),
    neutral-100: lighten(hsl(0, 0%, 75%), 50%)
);

$font-sizes: (
    fs-900: 6rem,
    fs-700: 2.5rem,
    fs-600: 1.7rem,
    fs-500: 1.2rem,
    fs-400: 1rem,
    fs-300: 0.8rem
);


$font-weights: (
    fs-700: 700,
    fs-400: 400
);