
@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid() {
    display: grid;
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}