// reset https://www.joshwcomeau.com/css/custom-css-reset/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    width: 100%;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  li ,
  a {
    text-decoration: none;
    list-style: none;
  }

  input, button {
    padding-block: 0.8rem;
    border-radius: 0.25rem;
    display: block;
    width: 100%;
    border: none;
  }

  input {
    border: 1px solid var(--primary-200);
  }
  
  button {
    cursor: pointer;
  }

  ::placeholder {
    font-size: calc(var(--fs-400) - 1px);
    font-family: var(--ff-secondary);
    color: var(--neutral-200);
}