@import './sass/reset', './sass/maps', './sass/functions', './sass/variables' , './sass/classes', './sass/mixins';

// root
:root {
    --primary-400: #{primary(primary-400)};
    --primary-300: #{primary(primary-300)};
    --primary-200: #{primary(primary-200)};
    --primary-100: #{primary(primary-100)};
    
    --accent-400: #{accent(accent-400)};
    --accent-300: #{accent(accent-300)};
    --accent-200: #{accent(accent-200)};
    --accent-100: #{accent(accent-100)};
    
    --neutral-400: #{neutral(neutral-400)};
    --neutral-300: #{neutral(neutral-300)};
    --neutral-200: #{neutral(neutral-200)};
    --neutral-100: #{neutral(neutral-100)};

    --ff-primary: #{$ff-primary};
    --ff-secondary: #{$ff-secondary};

    --fs-900: #{font-size(fs-900)};
    --fs-700: #{font-size(fs-700)};
    --fs-600: #{font-size(fs-600)};
    --fs-500: #{font-size(fs-500)};
    --fs-400: #{font-size(fs-400)};
    --fs-300: #{font-size(fs-300)};
    --fs-200: #{font-size(fs-200)};

    --fw-700: #{font-weight(fs-700)};
    --fw-400: #{font-weight(fs-400)};
}

body {
    background-color: var(--neutral-100);
    .container {
        @include grid();
    }



    .nav, .header, .overview-article {
        padding:  1.2rem;
        @include desktop {
            margin: 0 auto;
            padding:  2% 5%;
        }
    }
    .header{
        @include desktop {
            @include flex(center, center);
            flex-direction: row-reverse;
        }
    }
}

.nav {
    width: 100%;
    @include flex(space-between, center);

    .nav-img {
        flex-basis: 50%;
        img {
            max-width: 8rem;
        }
    }
    .nav-list {
        flex-basis: 80%;
        @include flex(flex-end, center);
        gap: 10%;
        li {
            a {
                color: var(--primary-400);
            }
        }
        
    }
}

.header {
    .header-bg {
        padding-top: 15%;
        margin: 0 auto;
        width: 80%;
        @include desktop {
            padding-top: 0%;
            margin: 0;
            max-width: 800px;
        }
    }
    article {
        text-align: center;
        h1 {
            padding-top: 12%;
            @include desktop {
                padding: 0;
            }
        }
        p {
            padding-top: 5%;
            line-height: 1.7;
            @include desktop {
                padding-top: 1rem;
            }
        }
        @include desktop {
            h1, p, .header-input {
                text-align: left;
            }
        }
    }
}

.header-input {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3.5%;
    input,
    button {
        margin: 1rem auto;
        @include desktop {
            margin: 0;
        }
    }
    input {
        width: 100%;
        padding-left: 1rem;
        &::placeholder {
            font-size: calc(var(--fs-400) - 1px);
            font-family: var(--ff-secondary);
            color: var(--neutral-200);
        }
        @include desktop {
            width: 50%;
        }
    }
    button {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        @include desktop {
            width: 30%;
        }
    }
    @include desktop{
        @include flex(flex-start, center);
        gap: 1rem;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0;
        
    }
 
}

.overview {
    padding-top: 15%;
    position: relative;
        .overview-bg:first-of-type {
            width: 100%;
            display: block;
            @include desktop {
                display: none;
            }
        }
        .overview-bg:last-of-type {
            width: 100%;
            display: none;
            @include desktop {
                display: block;
            }
        }
        .overview-img {
            // padding-top: 10%;
            // padding-left: 1rem;
            // padding-right: 1rem;
            // @include desktop {
            //     padding-top: 5%;
            //     width: 70%;
            // }
            padding-top: 15%;
            margin: 0 auto;
            @include desktop {
                padding-top: 0%;
                margin: 0;
                max-width: 800px;
            }
        }
}

.overview-article {
    @include desktop {
        @include flex(center, center);
        flex-direction: row-reverse;
    }
    article:first-of-type {
        text-align: center;
        @include flex(center, center);
        flex-direction: column;
        gap: 2rem;
        h2 {
            margin-top: 10%;
            text-align: center;
            @include desktop {
                margin-top: 0;
            }
        }
        p {
            text-align: left;
        }
        div {
            a {
                border-bottom: 1px solid var(--accent-200);
                color: var(--accent-200);
                gap: 0.25rem;
                padding-bottom: 0.25rem;
                display: inline-flex;
                span img{
                    width: 1.5rem;
                }
            }

            
        }
        @include desktop {
            align-items: flex-start;
        }
 
    }
    article:last-of-type {
        padding-top: 10%;
        padding-bottom: 10%;
        @include desktop {
            padding-block: 5%;
        }
        .quote-icon {
            background-color: white;
            width: 80%;
            margin: 0 auto;
            @include desktop {
                margin: 0;
                width: 50%;
            }
            padding: 1.5rem;
            border-radius: 5px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
            .quote-header{
                img {
                    width: 1rem;
                }
                p {
                    padding-top: 0.5rem;
                }
            }
            .quote-content {
                @include flex(flex-start, center);
                margin-top: 1rem;
                img {
                    border-radius: 50%;
                    width: 15%;
                    margin-right: 0.8rem;
                }
            }
  
        }
        
    }
}

.early-access {
   padding: 15% 10% 15% 10%;
   text-align: center;
    article {
        p{
            padding-top: 5%;
        }
    }
    div{
        padding-top: 8%;
        input,button {
            width: 80%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            margin: 0.5rem auto;
        }
        input {
            border: 1px solid var(--primary-200);
            padding-left: 1rem;
        }
        
    }
}

.footer {
    path {
        fill: var(--neutral-400);
    }
    a {
        color: var(--neutral-400);
    }

    address{
        @include grid();
        gap: 1.5em;
        padding: 15% 10% 10% 10%;
    }
}

.footer-contact-address {
    .footer-logo {
        transform: scale(1.2);
        margin: 0 auto;
        width: 85%;
    }
    .footer-contact {
        padding-top: 15%;
        .footer-phone,
        .footer-email {
            padding-bottom: 1rem;
            @include flex(flex-start, center);
            gap: 1rem;
            svg {
                width: auto;
            }
            a {
                align-self: flex-end;
            }
        }
    }
}

.footer-sitemap {
    padding-top: 5%;
    nav{
        ul {
            @include grid();
            gap: 1rem;
          
        }
        ul:last-of-type{
            padding-top: 15%;
        }
    }
}

.footer-social-medias {
    width: 40%;
    margin: 0 auto;
    padding-top: 5%;
    .footer-list {
        width: 100%;
      @include grid();
      grid-template-columns: repeat(3, MinMax(auto, 1fr));
      justify-items: center;
        li {
            img {
                width: 2rem;
            }
        }
   
    }

}



